.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a0a0a;
}

.logoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  transition: all 0.4s ease;
}

.glow {
  filter: drop-shadow(0 0 6px #ffffff) drop-shadow(0 0 18px #d519ff88);
}

.logoReflection {
  transform: perspective(400px) rotateX(60deg) scaleY(0); /* empieza colapsado */
  transform-origin: top;
  opacity: 0;
  filter: blur(3px);
  transition: transform 0.4s ease, opacity 0.4s ease;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.visible {
  transform: perspective(200px) rotateX(70deg) scaleY(-1) translateY(-90px);
  opacity: 0.15;
}

