/* === OCULTAR SCROLLBAR === */

/* WebKit (Chrome, Edge, Safari) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* Firefox */
html,
body {
  scrollbar-width: none;
}

/* IE y Edge Legacy */
html,
body {
  -ms-overflow-style: none;
}